table {
    border-collapse: collapse;
    border-bottom: 1px solid #B5B396;
}

thead {
    color: white;
    background-color: #51B406;
    border-bottom: 1px solid #2B7E01;
}

    thead td:nth-child(2) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-color: #2B7E01;
    }

    thead td:nth-child(3) {
        border-right: 1px solid;
        border-color: #2B7E01;
    }

tbody tr:nth-child(even) {
    background-color: #ECECD8;
}

tbody td:nth-child(2) {
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #B5B396;
}

tbody td:nth-child(3) {
    border-right: 1px solid;
    border-color: #B5B396;
}

td {
    padding: 5px;
}

#columnName {
    width: 170px;
}

#columnCity {
    width: 120px;
}

#columnCountry {
    width: 150px;
}
