body, table, tr, td, input {
    padding: 0;
    margin: 0;
}

#container {
    width: 400px;
    height: 355px;
    border: 2px solid #8999AC;
    color: #062449;
    font-family: Consolas;
    margin-left: 10px;
    margin-top: 10px;
    background: #f5f6f7; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2Y1ZjZmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjExJSIgc3RvcC1jb2xvcj0iI2Y1ZjZmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIxJSIgc3RvcC1jb2xvcj0iI2Q5ZTRmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOWU0ZjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f5f6f7 1%, #f5f6f7 11%, #d9e4f1 21%, #d9e4f1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f5f6f7), color-stop(11%,#f5f6f7), color-stop(21%,#d9e4f1), color-stop(100%,#d9e4f1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f5f6f7 1%,#f5f6f7 11%,#d9e4f1 21%,#d9e4f1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f5f6f7 1%,#f5f6f7 11%,#d9e4f1 21%,#d9e4f1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f5f6f7 1%,#f5f6f7 11%,#d9e4f1 21%,#d9e4f1 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f5f6f7 1%,#f5f6f7 11%,#d9e4f1 21%,#d9e4f1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f7', endColorstr='#d9e4f1',GradientType=0 ); /* IE6-8 */
}

#nav {
    width: 100%;
    color:#000000;
    font-family: Arial;
    font-size: 0.7em;
    border-bottom: 1px solid #E8E9EA;
}

    #nav tr td {
        width:35px;
        display: inline-block;
    }

    #nav tr td:first-child{

        padding-left:5px;
    }

        #nav tr td:first-letter {
            text-decoration: underline;
        }

        #nav tr td:hover {
            background-color: #D5E7F8;
            border: 1px solid #7AB1E8;
        }

input[type=text] {
    background: #e5eefb; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZWVmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #e5eefb 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5eefb), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e5eefb 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e5eefb 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e5eefb 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e5eefb 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5eefb', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}

#displayResult {
    width: 90%;
    border: 1px solid #8999AC;
    border-radius: 3px;
    padding: 10px 10px;
    font-size: 1.5em;
    text-align: right;
    font-family: Consolas;
    margin: 10px;
}

#displayInfo {
    width: 95%;
    margin: -5px 10px 0 10px;
    border: 1px solid #8999AC;
    border-radius: 3px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 0.8em;
}

    #displayInfo tr:nth-child(even) {
        color: #666666;
    }

    #displayInfo tr td {
        line-height: 0.9em;
    }

        #displayInfo tr td:last-child {
            text-align: right;
            padding-right: 10px;
        }

        #displayInfo tr td:not(:first-child) {
            padding-left: 15px;
        }

#radioButtons {
    float: left;
    width: 83px;
    font-size: 0.8em;
    margin-left: 5px;
    margin-right: -5px;
    border-spacing: 5px;
}

    #radioButtons tr td {
        border: 1px solid #8999AC;
        border-radius: 3px;
        padding: 5px;
        line-height: 1.6em;
    }

#mainButtons {
    width: 220px;
    height: 200px;
    margin-top: 1px;
    border-spacing: 4px;
    table-layout: fixed;
    margin-left: 3px;
}

    #mainButtons tr td {
        width: 32px;
        height: 25px;
        padding: 0;
        border-collapse: separate;
        border: 1px solid #8999AC;
        border-radius: 3px;
        text-align: center;
    }

button {
    width: 95%;
    height: 95%;
    border: none;
    background: none;
    font-family: 'Lucida Sans Unicode';
    font-size: 0.7em;
    color: #062449;
}

    button.big {
        font-size: 0.9em;
    }

    button:enabled:not(.ordButton) {
        padding:0;
        background: #eff5fb; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2VmZjVmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM3JSIgc3RvcC1jb2xvcj0iI2VmZjVmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU3JSIgc3RvcC1jb2xvcj0iI2Q1ZTBlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNWUwZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, #eff5fb 1%, #eff5fb 37%, #d5e0ed 57%, #d5e0ed 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#eff5fb), color-stop(37%,#eff5fb), color-stop(57%,#d5e0ed), color-stop(100%,#d5e0ed)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #eff5fb 1%,#eff5fb 37%,#d5e0ed 57%,#d5e0ed 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #eff5fb 1%,#eff5fb 37%,#d5e0ed 57%,#d5e0ed 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #eff5fb 1%,#eff5fb 37%,#d5e0ed 57%,#d5e0ed 100%); /* IE10+ */
        background: linear-gradient(to bottom, #eff5fb 1%,#eff5fb 37%,#d5e0ed 57%,#d5e0ed 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff5fb', endColorstr='#d5e0ed',GradientType=0 ); /* IE6-8 */
    }

    button.numbers:enabled {
        background: #f7fbff; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2Y3ZmJmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Y3ZmJmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iI2U4ZWVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2U4ZWVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
        background: -moz-linear-gradient(top, #f7fbff 1%, #f7fbff 50%, #e8eef5 53%, #e8eef5 99%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f7fbff), color-stop(50%,#f7fbff), color-stop(53%,#e8eef5), color-stop(99%,#e8eef5)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #f7fbff 1%,#f7fbff 50%,#e8eef5 53%,#e8eef5 99%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #f7fbff 1%,#f7fbff 50%,#e8eef5 53%,#e8eef5 99%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #f7fbff 1%,#f7fbff 50%,#e8eef5 53%,#e8eef5 99%); /* IE10+ */
        background: linear-gradient(to bottom, #f7fbff 1%,#f7fbff 50%,#e8eef5 53%,#e8eef5 99%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbff', endColorstr='#e8eef5',GradientType=0 ); /* IE6-8 */
    }

    button:enabled:hover {
        background: #fdebd7; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZWJkNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM4JSIgc3RvcC1jb2xvcj0iI2ZkZWJkNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU4JSIgc3RvcC1jb2xvcj0iI2ZiZDA3OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYmQwNzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, #fdebd7 0%, #fdebd7 38%, #fbd079 58%, #fbd079 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdebd7), color-stop(38%,#fdebd7), color-stop(58%,#fbd079), color-stop(100%,#fbd079)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #fdebd7 0%,#fdebd7 38%,#fbd079 58%,#fbd079 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #fdebd7 0%,#fdebd7 38%,#fbd079 58%,#fbd079 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #fdebd7 0%,#fdebd7 38%,#fbd079 58%,#fbd079 100%); /* IE10+ */
        background: linear-gradient(to bottom, #fdebd7 0%,#fdebd7 38%,#fbd079 58%,#fbd079 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdebd7', endColorstr='#fbd079',GradientType=0 ); /* IE6-8 */
    }

    button.ordButton:hover {
        background: #ffce68; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmY2U2OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcxJSIgc3RvcC1jb2xvcj0iI2ZmY2U2OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, #ffce68 0%, #ffce68 71%, #ffffda 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffce68), color-stop(71%,#ffce68), color-stop(100%,#ffffda)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #ffce68 0%,#ffce68 71%,#ffffda 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #ffce68 0%,#ffce68 71%,#ffffda 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #ffce68 0%,#ffce68 71%,#ffffda 100%); /* IE10+ */
        background: linear-gradient(to bottom, #ffce68 0%,#ffce68 71%,#ffffda 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffce68', endColorstr='#ffffda',GradientType=0 ); /* IE6-8 */
    }

#mainButtons tr td:not(.inactive):hover {
    border-color: #F6DE4B;
}

button.largeSymbol{
    padding:0;
    font-size:1em;
    font-weight:bold;
}